@page
@model IndexModel
@{
    ViewData["Title"] = "Information Home Page";
}

<div class="text-center">
    <h1 class="display-4">ยินดีต้อนรับ</h1>
    <p>ร้านของหวานที่อร่อยที่สุด</p>
    <img src="/images/bualoy.png" />
</div>
